@import url('https://fonts.googleapis.com/css?family=Marck+Script|Yellowtail&display=swap');

header.main-header {
	padding: 20px 0;
}
a.navbar-brand {
	font-family: 'Yellowtail', serif;
	position: absolute;
	font-size: 70px;
	transform: rotate(-10deg);
}
