@import url('https://fonts.googleapis.com/css?family=Marck+Script|Yellowtail&display=swap');
.app {
	background: rgb(245, 244, 241);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	min-height: 100vh;
}

a.navbar-brand {
	font-family: 'Yellowtail', cursive;
	font-size: 70px;
	transform: rotate(-10deg);
	margin-top: -20px;
	text-shadow: 1px 1px 3px rgba(15, 90, 100, 0.4);
}

.info {
	width: 80%;
	margin: 20px auto;
	font-family: 'Marck Script', cursive;
	font-size: 18px;
}

.featured h3,
.jokes h3 {
	margin-bottom: 20px;
}

@media (min-width: 769px) {
	.card {
		width: 33%;
	}
}
